{% extends 'admin/base.html.twig' %}

{% block content %}
    <div class="alert alert-info">
        {{ 'admin.accepted_csv_file_format'|trans }}
    </div>

    {{ form(form) }}

    <a href="{{ url('admin_table_list') }}">{{ 'return_to_list'|trans }}</a>
{% endblock %}
