{% extends 'admin/base.html.twig' %}

{% block content %}
    <h1>Edytuj tabelę "{{ table.name }}"</h1>

    {{ form(form) }}

    <a href="{{ url('admin_table_list') }}">Powrót do listy</a>
{% endblock %}
